<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditEvenimentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditEvenimentLabel_id}" for="id" />
                    <h:inputText id="id" value="#{evenimentController.selected.id}" title="#{bundle.EditEvenimentTitle_id}" required="true" requiredMessage="#{bundle.EditEvenimentRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditEvenimentLabel_nume}" for="nume" />
                    <h:inputText id="nume" value="#{evenimentController.selected.nume}" title="#{bundle.EditEvenimentTitle_nume}" />
                    <h:outputLabel value="#{bundle.EditEvenimentLabel_descriere}" for="descriere" />
                    <h:inputText id="descriere" value="#{evenimentController.selected.descriere}" title="#{bundle.EditEvenimentTitle_descriere}" />
                    <h:outputLabel value="#{bundle.EditEvenimentLabel_nrParticipanti}" for="nrParticipanti" />
                    <h:inputText id="nrParticipanti" value="#{evenimentController.selected.nrParticipanti}" title="#{bundle.EditEvenimentTitle_nrParticipanti}" />
                </h:panelGrid>
                <h:commandLink action="#{evenimentController.update}" value="#{bundle.EditEvenimentSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditEvenimentViewLink}"/>
                <br />
                <h:commandLink action="#{evenimentController.prepareList}" value="#{bundle.EditEvenimentShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditEvenimentIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
