<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEvenimentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEvenimentEmpty}" rendered="#{evenimentController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{evenimentController.items.rowCount > 0}">
                    <h:outputText value="#{evenimentController.pagination.pageFirstItem + 1}..#{evenimentController.pagination.pageLastItem + 1}/#{evenimentController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{evenimentController.previous}" value="#{bundle.Previous} #{evenimentController.pagination.pageSize}" rendered="#{evenimentController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{evenimentController.next}" value="#{bundle.Next} #{evenimentController.pagination.pageSize}" rendered="#{evenimentController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{evenimentController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenimentTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenimentTitle_nume}"/>
                            </f:facet>
                            <h:outputText value="#{item.nume}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenimentTitle_descriere}"/>
                            </f:facet>
                            <h:outputText value="#{item.descriere}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEvenimentTitle_nrParticipanti}"/>
                            </f:facet>
                            <h:outputText value="#{item.nrParticipanti}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{evenimentController.prepareView}" value="#{bundle.ListEvenimentViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{evenimentController.prepareEdit}" value="#{bundle.ListEvenimentEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{evenimentController.destroy}" value="#{bundle.ListEvenimentDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{evenimentController.prepareCreate}" value="#{bundle.ListEvenimentCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEvenimentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
